body {
  font-family: 'Inter', sans-serif;
  background: var(--light-color);
  transition: 250ms;
  overflow-x: hidden;
  transition: 250ms;
}

body.dark-theme {
  background: var(--dark-color);
  transition: 250ms;
}

.container {
  width: 335px;
  background: var(--light-color);
  transition: 250ms;
}

.dark-theme .container {
  background: var(--dark-color);
  transition: 250ms;
}

.hero-container {
  display: none;
}

.hero-container-mobile {
  width: 335px;
  height: 516px;
  background: url('../../images/fav-hero-mob.jpg');
  background-size: cover;
  border-radius: 15px;
}

.hero {
  display: none;
}

.hero.active {
  width: 375px;
  display: flex;
  margin: 0 auto;
  padding: 20px 20px 0;
  background: var(--light-color);
  transition: 250ms;
}

.dark-theme .hero.active {
  background: var(--dark-color);
  transition: 250ms;
}

.favorites-zero {
  display: none;
}

.favorites-zero.active {
  width: 375px;
  display: flex;
  margin: 0 auto;
  padding: 256px 20px 0;
}

.favorites-icon {
  display: flex;
  width: 68px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
}

.favorites-text {
  display: flex;
  text-align: center;
  width: 335px;
  margin-top: 24px;
  font-size: 14px;
  line-height: 18px;
}

.dark-theme .favorites-text {
  color: var(--white-color);
}

@media screen and (-webkit-max-device-pixel-ratio: 2) and (max-resolution: 192dpi) and (max-resolution: 2dppx) {
  .hero-container-mobile {
    background: url('../../images/fav-hero-mob@2x.jpg');
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .hero,
  .hero.active {
    display: block;
    width: 768px;
    padding: 15px 32px 0;
  }

  .container {
    width: 704px;
  }

  .hero-container-mobile {
    display: none;
  }

  .hero-container {
    display: block;
    width: 704px;
    height: 356px;
    background: url('../../images/fav-hero-tab.jpg');
    background-size: cover;
    border-radius: 15px;
  }

  .favorites-zero.active {
    width: 768px;
    margin: 0 auto;
    padding: 64px 32px 0;
  }

  .favorites-icon {
    margin-top: 64px;
    width: 97px;
    height: 83px;
  }

  .favorites-text {
    width: 481px;
    margin: 32px auto;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
  }
}

@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
  .hero-container {
    background: url('../../images/fav-hero-tab@2.jpg');
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero,
  .hero.active {
    width: 1280px;
    padding: 0 100px;
  }

  .container {
    width: 1080px;
  }

  .hero-container {
    width: 1080px;
    height: 356px;
    background: url('../../images/fav-hero-desk.jpg');
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
  .hero-container {
    background: url('../../images/fav-hero-desk@2x.jpg');
    background-size: cover;
  }
}
