.tags-container {
  width: 375px;
  margin-left: 0;
  padding-left: 20px;
  overflow: visible;
}

.tags {
  overflow: scroll;
}

.tags-list {
  display: flex;
  padding-top: 40px;
  overflow: visible;
}

.favorites-tags {
  padding: 14px 18px;
  margin-right: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(5, 5, 5, 0.3);
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.dark-theme .favorites-tags {
  color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.favorites-tags:hover {
  color: var(--light-color);
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.favorites-gallery {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.favorites-gallery-container {
  display: flex;
}

.card-recipe {
  width: 335px;
  height: 335px;
  margin-top: 24px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}

.heart-icon {
  margin-top: 16px;
  margin-left: 297px;
  fill: var(--white-color);
  cursor: pointer;
  transition: 250ms;
}

.heart-icon:hover {
  fill: var(--light-color);
  transform: scale(1.3);
  transition: 250ms;
}

.card-recipe-title {
  width: 302px;
  margin-top: 174px;
  margin-left: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--light-color);
}

.card-recipe-description {
  width: 302px;
  height: 32px;
  margin-top: 8px;
  margin-left: 16px;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--light-color);
}

.recipe-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 303px;
  height: 31px;
  margin-top: 16px;
  margin-left: 16px;
}

.rating-block {
  display: flex;
  align-items: center;
}

.rating-recipe {
  margin-right: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--light-color);
}

.star-icon {
  fill: var(--white-color);
  opacity: 0.3;
}

.star {
  margin-right: 2px;
}

.recipe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 31px;
  font-weight: 500;
  font-size: 12px;
  color: var(--light-color);
  background: var(--primary-color);
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  transition: 0.25s;
}

.recipe-button:hover {
  transform: scale(1.05);
  color: var(--dark-color);
  transition: 0.25s;
}

@media screen and (min-width: 768px) {
  .tags-container {
    overflow: visible;
  }

  .tags {
    width: 768px;
    padding-left: 32px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
  }

  .tags::-webkit-scrollbar {
    height: 15px;
  }

  .tags::-webkit-scrollbar-thumb {
    border-radius: 16px;
    border: 0;
    background: inherit;
    transition: 250ms;
  }

  .dark-theme .tags::-webkit-scrollbar-thumb {
    border: 0;
    background: inherit;
    transition: 250ms;
  }

  .tags::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
    transition: 250ms;
  }

  .tags-container {
    padding: 0;
  }

  .tags-list.tags-list-fav {
    width: 768;
    padding-top: 64px;
    padding-bottom: 16px;
  }

  .favorites-tags {
    margin-right: 15px;
  }

  .favorites-tags {
    margin-right: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  .favorites-gallery {
    width: 768px;
  }

  .favorites-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  .card-recipe {
    width: 224px;
    height: 244px;
    margin: 0;
  }

  .heart-icon {
    margin-top: 16px;
    margin-left: 186px;
  }

  .card-recipe-title {
    width: 192px;
    margin-top: 85px;
  }

  .card-recipe-description {
    width: 192px;
  }

  .recipe-block {
    width: 192px;
    margin-top: 12px;
  }

  .star {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .favorites-gallery {
    width: 1080px;
  }

  .tags {
    /* width: 1280px; */
    padding-left: 100px;
  }

  .tags-list.tags-list-fav {
    width: 1280px;
  }

  .favorites-list {
    gap: 32px 16px;
  }

  .card-recipe-title.card-title-fav {
    margin-top: 166px;
  }

  .recipe-block.recipe-block-fav {
    width: 226px;
  }

  .card-recipe {
    width: 258px;
    height: 287px;
  }

  .heart-icon {
    margin-left: 220px;
  }

  .card-recipe-title {
    width: 226px;
    margin-top: 128px;
  }

  .card-recipe-description,
  .recipe-block {
    width: 226px;
  }

  .pagination-wrapper {
    display: flex;
    margin-left: auto !important;
    margin-right: auto;
  }
}
