.hero {
  width: 375px;
  margin: 0 auto;
  padding: 64px 20px 0;
  overflow: hidden;
  background: var(--light-color);
  transition: 250ms;
}

.hero-container {
  overflow: visible;
}

.dark-theme .hero {
  background: var(--dark-color);
  transition: 250ms;
}

.hero-info {
  width: 335px;
}

.hero-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  text-transform: uppercase;
  transition: 250ms;
}

.hero-logo {
  font-weight: 500;
  font-style: italic;
  color: var(--primary-color);
}

.hero-advice {
  width: 335px;
  margin-top: 14px;
  font-size: 14px;
  line-height: 18px;
  color: var(--black-color);
  transition: 250ms;
}

.order-now {
  width: 127px;
  height: 45px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  border-radius: 15px;
  background-color: inherit;
  border: 1px solid var(--primary-color);
  transition: 250ms;
}

.order-now:hover {
  color: var(--light-color);
  background-color: var(--primary-color);
  transition: 250ms;
}

.dark-theme .hero-title,
.dark-theme .hero-advice,
.dark-theme .order-now {
  color: var(--white-color);
  transition: 250ms;
}

.swiper {
  width: 496px;
  height: 302px;
  margin-top: 48px;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
}

/* ####### slider.js ####### */

.my-slide {
  display: flex;
  width: 496px;
  height: 280px;
}

.card-cook {
  width: 80px;
  height: 280px;
  margin-right: 8px;
  border-radius: 15px;
  overflow: hidden;
}

.wrapper-cook {
  width: 200%;
  height: 200%;
}

.event-cook-0 {
  width: 56%;
  height: 56%;
  object-fit: cover;
  object-position: left -91px top 0;
}

.event-cook-1 {
  width: 54.5%;
  height: 54.5%;
  object-fit: cover;
  object-position: left -90px top -12px;
}

.event-cook-2 {
  width: 55%;
  height: 55%;
  object-fit: cover;
  object-position: left -93px top -23px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 280px;
  margin-right: 8px;
  background: radial-gradient(
    circle,
    var(--primary-color) 0%,
    #31361c 5%,
    var(--black-color) 95%
  );
  border: 1px solid transparent;
  border-radius: 15px;
  transition: 250ms;
}

.dark-theme .card-info {
  border: 1px solid rgba(155, 181, 55, 0.3);
  transition: 250ms;
}

.preview-img-0 {
  margin-top: 56px;
  width: 157px;
  height: 142px;
}

.preview-img-1 {
  margin-top: 52px;
  width: 150px;
  height: 150px;
}

.preview-img-2 {
  margin-top: 64px;
  width: 172px;
  height: 154px;
}

.event-title-0,
.event-title-1,
.event-title-2 {
  width: 157px;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(248, 248, 248, 0.6);
}

.event-title-0 {
  height: 28px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.event-title-1 {
  width: 144px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.event-title-2 {
  margin-top: 14px;
  margin-bottom: 8px;
}

.event-country {
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  color: rgba(248, 248, 248, 0.2);
}

.card-img {
  width: 200px;
  height: 280px;
  margin-right: 8px;
  background: var(--black-color);
  border-radius: 15px;
  overflow: hidden;
}

.wrapper-img {
  position: relative;
  width: 400%;
  height: 400%;
  overflow: hidden;
}

.event-img-0 {
  width: 25%;
  height: 25%;
  object-fit: cover;
  object-position: left -15px top 15px;
}

.event-img-1 {
  width: 51.5%;
  height: 51.5%;
  object-fit: cover;
  object-position: left -130px top -145px;
}

.event-img-2 {
  width: 44.5%;
  height: 44.5%;
  object-fit: cover;
  object-position: left -164px top -120px;
}

.swiper-pagination {
  transform: translate(-12.75%, 70%) !important;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  opacity: 1;
  background: var(--black-color);
  transition: 250ms;
}

.dark-theme .swiper-pagination-bullets .swiper-pagination-bullet {
  background: var(--white-color);
  transition: 250ms;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active,
.dark-theme .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: var(--primary-color);
}

span.swiper-pagination-bullet {
  margin: 2px !important;
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    padding: 57px 32px 0;
  }

  .hero-info {
    width: 446px;
  }

  .hero-title {
    font-size: 36px;
  }

  .hero-advice {
    width: 408px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  .swiper {
    width: 871px;
    height: 468px;
    margin-top: 64px;
  }

  .my-slide {
    width: 871px;
    height: 468px;
  }

  .card-cook {
    width: 137px;
    height: 442px;
    margin-right: 16px;
    overflow: hidden;
  }

  .wrapper-cook {
    width: 200%;
    height: 200%;
  }

  .event-cook-0 {
    width: 51.5%;
    height: 51.5%;
    object-fit: cover;
    object-position: left -122px top -10px;
  }

  .event-cook-1 {
    width: 52%;
    height: 52%;
    object-fit: cover;
    object-position: left -120px top -15px;
  }

  .event-cook-2 {
    width: 52.5%;
    height: 52.5%;
    object-fit: cover;
    object-position: left -135px top -23px;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 351px;
    height: 442px;
    margin-right: 16px;
    background: radial-gradient(
      circle,
      var(--primary-color) 0%,
      #31361c 10%,
      var(--black-color) 90%
    );
    border-radius: 15px;
  }

  .dark-theme .card-info {
    border: 1px solid rgba(155, 181, 55, 0.3);
  }

  .preview-img-0,
  .preview-img-2 {
    margin-top: 67px;
    width: 304px;
    height: 271px;
  }

  .preview-img-1 {
    margin-top: 76px;
    width: 262px;
    height: 262px;
  }

  .event-title-0,
  .event-title-1,
  .event-title-2 {
    width: 276px;
    height: 18px;
    margin-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(248, 248, 248, 0.6);
  }

  .event-country {
    margin-top: 8px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: rgba(248, 248, 248, 0.2);
  }

  .card-img {
    width: 351px;
    height: 442px;
    margin-right: 10px;
    background: var(--black-color);
    border-radius: 15px;
    overflow: hidden;
  }

  .wrapper-img {
    position: relative;
    width: 200%;
    height: 200%;
    overflow: hidden;
  }

  .event-img-0 {
    width: 48%;
    height: 48%;
    object-fit: cover;
    object-position: left -19px top 30px;
  }

  .event-img-1 {
    width: 75%;
    height: 75%;
    object-fit: cover;
    object-position: left -117px top -117px;
  }

  .event-img-2 {
    width: 85%;
    height: 85%;
    object-fit: cover;
    object-position: left -200px top -140px;
  }

  .swiper-pagination {
    transform: translate(300%, 70%);
  }

  .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    color: var(--black-color);
  }

  span.swiper-pagination-bullet {
    margin: 2.5px !important;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1280px;
    padding: 52px 100px 0;
    overflow: visible;
  }

  .hero-container {
    display: flex;
  }

  .hero-info {
    margin-top: 64px;
    margin-right: 32px;
  }

  .hero-title {
    width: 446px;
  }

  .slider-wrapper {
    margin: 0;
  }

  .swiper {
    margin-top: 0;
  }

  .swiper-wrapper {
    height: 468px;
  }
}
