<div class="container">
  <section class="favorites-hero"></section>
  <section class="favorites-hero-mobile"></section>

  <section class="favorites-zero">
    <svg class="favorites-icon">
      <use href="./images/sprite.svg#fav-icon"></use>
    </svg>

    <p class="favorites-text">
      It appears that you haven't added any recipes to your favorites yet. To
      get started, you can add recipes that you like to your favorites for
      easier access in the future.
    </p>
  </section>
</div>

<section class="tags">
  <div class="container tags-container">
    <ul class="tags-list tags-list-fav"></ul>
  </div>
</section>

<section class="favorites-gallery">
  <div class="container favorites-gallery-container">
    <ul class="favorites-list"></ul>
  </div>

  <div class="container">
    <div class="pagination-wrapper">
      <div class="tui-pagination" id="pagination"></div>
    </div>
  </div>
</section>
