<div class="search-container">
  <div class="search-label">
    <span class="filters-span">Search</span>
    <input class="search-input" type="text" placeholder="Enter Text" />
    <svg class="search-icon" width="18" height="18">
      <use href="./images/sprite.svg#search"></use>
    </svg>
    <button class="reset-btn" type="button">
      <svg class="close-search-icon" width="18" height="18">
        <use href="./images/sprite.svg#x-black"></use>
      </svg>
    </button>
  </div>

  <div class="time-label">
    <span class="filters-span">Time</span>
    <div class="time-input">
      <button class="time-placeholder" type="button">0 min</button>
      <svg class="select-icon time-icon" width="18" height="18">
        <use href="./images/sprite.svg#select-down"></use>
      </svg>
      <ul class="time-list">
        <!-- ####### markup in filters.js ####### -->
      </ul>
    </div>
  </div>

  <div class="area-label">
    <span class="filters-span">Area</span>
    <div class="area-input">
      <button class="area-placeholder" type="button">Region</button>
      <svg class="select-icon area-icon" width="18" height="18">
        <use href="./images/sprite.svg#select-down"></use>
      </svg>
      <ul class="area-list">
        <!-- ####### markup in filters.js ####### -->
      </ul>
    </div>
  </div>

  <div class="ingredient-label">
    <span class="filters-span">Ingredient</span>
    <div class="ingredient-input">
      <button class="ingredient-placeholder" type="button">Product</button>
      <svg class="select-icon ingredient-icon" width="18" height="18">
        <use href="./images/sprite.svg#select-down"></use>
      </svg>
      <ul class="ingredient-list">
        <!-- ####### markup in filters.js ####### -->
      </ul>
    </div>
  </div>
</div>
