<section class="hero">
  <div class="container hero-container">
    <div class="hero-info">
      <h1 class="hero-title">
        Learn to Cook
        <span class="hero-logo tasty"> Tasty </span
        ><span class="hero-logo treats">Treats' </span>
        Customizable Masterclass
      </h1>

      <p class="hero-advice">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>

      <button class="order-now order-open" type="button">Order now</button>
    </div>

    <div class="slider-wrapper">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"></div>

          <div class="swiper-slide"></div>

          <div class="swiper-slide"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
