<!-- ####### styles in header.css ####### -->

<div class="mobile-menu">
  <button class="close-menu" type="button">
    <svg class="menu-close-icon" width="32" height="32">
      <use href="./images/sprite.svg#x"></use>
    </svg>
  </button>

  <ul class="mobile-navigation">
    <li class="nav-item">
      <a class="nav-link home-link" href="./index.html">Home</a>
    </li>

    <li class="nav-item favorites-item">
      <a class="nav-link fav-link" href="./favorites.html">Favorites</a>
    </li>
  </ul>

  <label class="toggle-theme-mobile">
    <input class="switch" type="checkbox" />
    <span class="slider"></span>
  </label>
</div>
