<div class="see-backdrop">
  <div class="see-modal">
    <button class="see-close" type="button">
      <svg class="close-see-icon" width="20" height="20">
        <use href="./images/sprite.svg#x-black"></use>
      </svg>
    </button>

    <div class="upper-wrapper">
      <div class="video"></div>

      <div class="upper-block">
        <h2 class="recipe-name"></h2>

        <div class="rating-time"></div>
        <div class="ingredients-block"></div>
      </div>
    </div>

    <div class="lower-block"></div>

    <div class="block-btn">
      <button class="to-favorite to-favor remuve" type="button">
        Add to favorite
      </button>
      <button class="give-rating" type="button">Give a rating</button>
    </div>
  </div>
</div>
